[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
pytest = "*"
pdbpp = "*"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
flake8-string-format = "*"
flake8-tuple = "*"
python-language-server = "*"
cheroot = "*"

[packages]
manabi = {editable = true, path = "."}

[requires]
python_version = "3.8"
